.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3E3B2A;
    text-align: center;
}

.lg-text{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1rem;
    font-weight: 600;
}

#dynamic{
    position: relative;
    display: inline-block;
}
#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: #3E3B2A;
}

#dynamic.active::after{
    display: none;
}

.snsbar ul li{
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
    align-items: center;
}