@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",  "Nanum Gothic";
    font-style: normal;
}

body{
    background-color: #FEEE96;
}

.container .header{
    width: 70%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    padding-top: 5px;
}

.nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav ul li input{
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #3E3B2A;
}

.nav ul li input:hover{
    background-color: #3E3B2A;
    color: #FEEE96;
}

.title {
    margin: 10px auto;
    width: 70%;
    padding-bottom: 10px;
}
.title h1 {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #3E3B2A;
}
.page {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px 50px;
    background-color: white;
    width: 70%;
    border-radius: 50px;
    min-height: 700px;
}

.page h2 {
    font-weight: 600;
    font-size: 24px;
    color: #c5a802;
}

.page p {
    font-weight: 500;
    font-size: 18px;
    color: #3E3B2A;
}

.page li a{
    text-decoration: none;
    color: #3E3B2A;
    font-weight: 600;
    font-size: 24px;
}